body{
    background-color: #edede9;
}
/*HEADER*/
.header{
    background-color: #cccccb;
    position:sticky;  
    -webkit-box-shadow: 0px 5px 25px rgba(0,0,0,0.15);
        box-shadow: 0px 5px 25px rgba(0,0,0,0.15);
}

.logo{
    padding: 10px 10px 0px;
    width: 200px;
}
    .header_img{
        height: 64px;
        width: 64px;
    }

.acc{
    width: 200px;
    text-align: center;
}
    .but{
        padding: 5px 7px;
        height: 100px;
        font-size: 20px;
        width: 20px;
    }

    .none{
        display: none;
    }

.links{    
    padding: 3px;
    justify-content: center;
}
    .link{
        padding:5px 7px;
    }

/*body*/

.h11{
    text-align: center;
}

/*FORM*/
.form {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #edede9; 
  text-align: center;
}

.form_control {
  display: block;
  width: 100%; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
::placeholder {
  color: #999;
}
