
.user_conteiner{    
    border: 4px solid #855f5f;
    border-radius: 5px;
    margin: 20px auto;        
    position: relative;
    height: 80vh;
    width: 50%;
}

.data{
    margin: 20px;
    width: 80%;
}
    .user_ava{
        width: 40%;
        padding: 20px 5% 0px;
        float: left;
    }
    .user_data{
    color:black;
    border: 2px solid #855f5f;    
    font-size: 30px;
    margin-left: 60px;
    padding: 10px;
    width: 30%;
    float: left;
    }

.button{
    margin: 20px 20px;
    position:absolute;
    display: flex;
    bottom: 0px;
}
    .but{
        font-size: 30px;
        margin: 20px;
        padding: 10px 10px 10px;

        width: 50%;
    }