{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block title %}
Страница пользователя
{% endblock %}

{% block body %}


    <h1 class="h11">Страница пользователя</h1>

    <div class="user_conteiner">
        <div class="data">
            <img src="/static/img/{{user_img}}" alt="logo" class="user_img">
            <p class="user_data">{{user_name}}</p>
            <p class="user_data">{{data_add}}</p>
        </div>

        <br>

        <div class="button">

            <form action="/exit" class="but">                
                <button class="but">Выйти с аккаунта</button>                               
            </form>
        </div>
    </div>

    
{% endblock %}
