{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block title %}
Страница пользователя
{% endblock %}

{% block body %}


    <h1 class="h11">Страница пользователя</h1>

    <div class="user_conteiner">
        <div class="data">
            <img src="/static/img/{{ava}}" alt="logo" class="user_ava">
            <p class="user_data">{{id}}</p>
            <p class="user_data">{{data_add}}</p>
        </div>

        <br>

        <div class="button">
            <input type="button" action="#" class="but" value="Изменить данные">
            <input type="button" action="#" class="but" value="Посмотреть коментари">
        </div>
    </div>

    
{% endblock %}
